streamlit==1.22.0
pandas==2.0.1
Pillow==9.5.0
requests==2.31.0
streamlit-authenticator==0.2.1
streamlit-option-menu==0.3.2
streamlit-lottie==0.0.3
streamlit-folium==0.11.0
geopy==2.3.0
folium==0.14.0
qrcode==7.4.2
twilio==8.2.2
tensorflow==2.12.0
opencv-python==4.7.0.72
